body{

    font-family: Century Gothic;

    margin: 10px auto;

    max-width: 800px;
    background-color: rgba(239, 42, 42, 0.228);

}

ul{

    padding: 0;

    margin-top: 40px;

    text-align: center;

    font-size: 1.1em;

}

ul li{

    list-style-type: none;

    display: inline-block;

    padding: 5px 15px;

    margin: 2px 0;

    background-color: rgb(255, 79, 88);

    border-radius: 5px;

}

ul li a{

    color: rgb(0, 0, 0);

    text-decoration: none;

}

h1{

    margin: 10px;

    text-align: center;

}

h2{

    margin: 10px;

}

p{

    margin-left: 10px;

}

.city-container{

    position: relative;

    margin: 10px 20px;

}

.city-view{

    padding: 10px;

}

.city-view.ng-animate{

    transition: all ease 0.4s;

    position: absolute;

}

.city-view.ng-enter{

    top: 200px;

    opacity: 0;

}

.city-view.ng-leave,

.city-view.ng-enter.ng-enter-active{

    top: 0;

    opacity: 1;

}

.city-view.ng-leave.ng-leave-active{

    top: -200px;

    opacity: 0;

}